html,
body {
	background-color: #1c1c1c;
	color: white;
	height: 100%;
	overflow: hidden;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	width: auto;
	height: auto;
	overflow: auto;
	padding: 50px;
	margin-bottom: 130px;
	background-color: #232323;
	border: 3px #3ecf8e solid;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

input[type="text"],
input[type="number"] {
	width: 180px;
	color: white;
	padding: 5px 10px;
	border: 1px solid #3ecf8e;
	border-radius: 3px;
	background-color: #273f34;
	margin: 8px 0;
	display: inline-block;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(100%);
}

label {
	margin-right: 10px;
}

.symbol {
	color: darkorange;
	margin: 0;
}

#dni {
	margin-bottom: 20px;
}

#dniLabel {
	margin-right: 24px;
}

#appTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 30px;
}

h2 {
	margin: auto;
}

#folderIcon {
	margin-left: 20px;
}

#calcular {
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 40px;
	background-color: #37996b;
	border: 2px solid #3ecf8e;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
}

/* #calcular:hover {} */

#delete {
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 40px;
	background-color: #ef5d62;
	border: 2px solid #832026;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
}

#symbolNotas {
	margin-left: 8px;
}

#symbolNotaPro {
	margin-left: 19px;
}

.cajaNota {
	background-color: #232323;
	border: 1.5px #3ecf8e solid;
	border-radius: 7px;
	padding: 10px;
}

@media (max-width: 700px) {
	main {
		width: 90%;
	}
}